.road {
      border-bottom: 100px solid red;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      margin-left: 270px;
      margin-right: 860px;
      height: 450px;
      width: 500px;
      display: block;
    }